// // Place all the styles related to the Brands controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/



//I used inline css in some fields because of it was necessary.
body {
    text-align: center;
    width:50%;
    
  }
  
td{
  
    padding: 10px;
    text-align: center;
      
  }


h1{
     margin-left:50%;
     width:100%;
     color:blue;
 }
