<h1><span class="glyphicon glyphicon-plus small"></span> Marka Ekle </h1>
<%
=begin%>
We add the brand in the _form.html.erb easier, so we called it here.
<%
=end%>
<div style="margin-top:70px;margin-left:50%;width:100%;">

    <%= render 'form' %>

    <p style="margin-left:80%;"><%= link_to '<< Geri', brands_path %></p>
</div>